<router-outlet></router-outlet>
<div class="demo-table" [ngClass]="{
student: config.userInfo.role === 'STUDENT',
teacher: config.userInfo.role === 'TEACHER',
admin: config.userInfo.role === 'ADMIN'
}">
  <ng-container *ngIf="config.userInfo.role === 'STUDENT' else instructor">
    <div class="thead">
      <div>type</div>
      <div>block</div>
      <div>group</div>
      <div>date</div>
    </div>
    <div *ngFor="let history of historyData" [ngClass]="{exam: history.type.toLowerCase() === 'exam', 'is-expired': history.isExpired}" class="tr"
         [routerLink]="[history._id]">
      <div>{{history.type}}</div>
      <div>{{history.block}}</div>
      <div>{{history.group}}</div>
      <div>{{history.createdAt | date:"dd/MM/yyyy"}}</div>
    </div>
  </ng-container>
  <ng-template #instructor>
    <div class="thead">
      <div>full name</div>
      <div>group</div>
      <div>block</div>
      <div>date</div>
    </div>
    <div *ngFor="let history of historyData" [ngClass]="{exam: history.type.toLowerCase() === 'exam'}" class="tr"
         [routerLink]="[history._id]">
      <div>{{history.user.name}} {{history.user.surename}}</div>
      <div>{{history.group}}</div>
      <div>{{history.block}}</div>
      <div>{{history.createdAt | date:"dd/MM/yyyy"}}</div>
    </div>
  </ng-template>

</div>

