<form [formGroup]="questionForm" (ngSubmit)="questionSubmit($event)"
      class="main__container">
  <div class="main__img">
    <img class="responsive-img" src="assets/images/english-level-{{config.userInfo.userLevel}}.png" alt="">
  </div>
  <div class="testing__descriptions">
    <h1 class="description__header">English {{config.userInfo.userLevel | titlecase}} Test - Version
      - {{testingService.testInfo.block}}
      (NAB)</h1>
  </div>
  <div class="card__img">
    <img src="assets/images/reading-section.png" alt="reading-section-img">
  </div>
  <div class="question-card">
    <div class="card-header">Reading section</div>
    <div class="card-description">Read the text and answer question about them</div>
  </div>
  <div class="reading-text" [innerHTML]="readingText"></div>
  <ng-container formArrayName="questions">
    <div *ngFor="let question of questions; let idx = index"
         [ngClass]="{
    correct: false,
    incorrect: false
    }" class="question">
      <div class="question-header">
        <h3 class="question-title">{{idx + 1}}. {{ question.description }}</h3>
        <div class="question-ball">2 Ball</div>
      </div>
      <mat-radio-group [formControlName]="idx">
        <mat-radio-button
          *ngFor="let variant of question.options"
          [value]="variant">
          {{ variant }}
        </mat-radio-button>
      </mat-radio-group>
    </div>
  </ng-container>
  <div class="submit">
    <button type="reset" mat-raised-button color="warn" [disabled]="!questionForm.dirty">Clear</button>
    <button class="submit-btn" mat-raised-button color="primary" [disabled]="questionForm.invalid">Submit</button>
  </div>
</form>
