:host {
  form.main__container {
    .question-card {
      padding: 0;

      & > * {
        margin: 0;
        padding: 20px;
      }

      & .card-header {
        background-color: #1e88e5;
        text-transform: uppercase;
        font-weight: bold;
      }
    }

    > .card__img {
      img {
        display: block;
        width: 95%;
        margin: 5px auto;
      }
    }

    .question {
      h3 {
        font-size: 20px;
        font-weight: bold;
      }
    }

    .question-header {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
    }

    .question-ball {
      white-space: nowrap;
    }

    .reading-text {
      padding: 20px;

      ::ng-deep {
        > * + * {
          font-size: 20px;
          margin-top: 50px;
        }

        div {
          font-size: 20px;
          line-height: 1.2;

          &.first-child {
            font-size: 24px;
          }
        }
      }
    }

    ::ng-deep .first-child {
      font-weight: bold;
      text-transform: capitalize;
      margin-bottom: 10px;
    }
  }
}
