<main class="main">
  <div class="card">
    <div class="card-background">
      <div class="card-items">
        <div class="card-img">
          <img src="../../../assets/images/user-profile.png" alt="user">
        </div>
        <div class="card-role">{{config.userInfo.role | titlecase}}</div>
        <div class="card-name">{{config.userInfo.name | titlecase}} {{config.userInfo.surename | titlecase}}</div>
      </div>
    </div>
    <div class="card-description">
      <div class="description-block">
        <div class="description-header bold">Information</div>
        <div class="description-content">
          <div class="description-item">
            <h4 class="item-header bold">Email</h4>
            <div class="item-value">{{config.userInfo.email}}</div>
          </div>
          <div class="description-item" *ngIf="config.userInfo.role === 'STUDENT'">
            <h4 class="item-header bold">Level</h4>
            <div class="item-value capitalize">{{config.userInfo.userLevel | titlecase}}</div>
          </div>
        </div>
      </div>
      <div class="card-buttons">
        <div class="remove btn dangerous-btn" (click)="remove()">remove</div>
        <div class="logout-btn btn dangerous-btn" (click)="logout()">Logout</div>
      </div>
    </div>
  </div>
</main>
