<main class="main">
  <div class="card">
    <div class="card-background">
      <div class="card-items">
        <div class="card-img">
          <img src="../../../assets/images/user-profile.png" alt="user">
        </div>
        <div class="card-role">STUDENT</div>
        <div class="card-name">Jamoliddin Qodirov</div>
      </div>
    </div>
    <div class="card-description">
      <div class="description-block">
        <div class="description-header bold">Information</div>
        <div class="description-content">
          <div class="description-item">
            <h4 class="item-header bold">Email</h4>
            <div class="item-value">jamoliddinqodirov18@gmail.com</div>
          </div>
          <div class="description-item">
            <h4 class="item-header bold">Phone</h4>
            <div class="item-value">+992917905525</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
