:host {
  position: relative;
  height: 100%;
  width: 100%;
  display: block;
  &.nab-ios {
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
}

.toolbar-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

  mat-toolbar {
    max-height: 56px;
  }
}

.logo {
  margin-left: 8px;
}

.navbar {
  display: flex;
  justify-content: flex-end;
  height: 56px;
  width: 100%;
  padding-right: 20px;
}

.navbar a {
  margin-left: 10px;
  color: white;
  display: flex;
  align-items: center;
  height: 100%;
}

.navbar a.active {
  background-color: rgba(255, 255, 255, 0.1);
}

a.active-mobile {
  background-color: rgba(0, 0, 0, 0.1) !important;
}

.navbar-small-screen {
  display: none;
}

.sidenav-container {
  height: 100%;

  a {
    text-transform: capitalize;
  }
}

mat-sidenav {
  width: 200px;
}

mat-sidenav-content {
  padding: 20px;
}

.mat-mdc-list-item-interactive::before {
  background-color: transparent !important;
}

mat-sidenav-container ::ng-deep {
  mat-sidenav-content {
    overflow-y: hidden;
  }
}

@media (max-width: 768px) {
  .navbar-small-screen {
    display: flex;
  }

  .navbar {
    display: none;
  }
}

// style

.menu-burger {
  background-color: transparent;
  color: white;
}

mat-sidenav-content {
  padding: 0;
}

.toolbar-wrapper {
  position: relative;
  top: 0px;
  left: 0;
  width: 100%;
  z-index: 3;
}

mat-sidenav-container {
  //top: 56px;
}
