<section class="intro logo">
  <img src="../../../assets/images/favicon.png" alt="">
</section>

<section class="intro">
  <h1>Instructions</h1>
  <p>Welcome to the <b>English Language Knowledge Test!</b> This test is designed to assess your proficiency in <b>English</b>.
  </p>
  <p>It consists of <b>50 multiple-choice questions</b>. Please read each question carefully and select the most
    appropriate answer from the given options. Once you have answered all the questions, click the <b>submit
      button</b> to see your results. <b>Good luck!</b></p>

</section>
<section class="where-Im-from">
  <h1>About</h1>
  <p>The <b>English Language Knowledge Test</b> is a comprehensive assessment tool developed to evaluate your
    understanding
    of the <b>English language</b>. It covers various aspects such as vocabulary, grammar, reading comprehension,
    and more.
    This test aims to provide an accurate measurement of your <b>English language</b> proficiency and help you gauge
    your
    strengths and areas for improvement. Whether you are a student, a professional, or someone interested in
    enhancing their English skills, this test will provide valuable insights into your language abilities. Take the
    test and discover where you stand in your <b>English language</b> journey!</p>
</section>
<section class="more-about-me">
  <h1>Developer</h1>
  <p><i class="fa-solid fa-user blue-text"></i> Jamoliddin Qodirov</p>
  <p><i class="fa-solid fa-envelope blue-text"></i> jamoliddinqodirov18@gmail.com</p>
  <p><a href="tel:+992917905525"><i class="fa-solid fa-phone blue-text"></i> +992917905525</a></p>
  <p><a href="https://t.me/ADD_LOCK_SYSTEMS" target="_blank"><i class="fa-brands fa-telegram blue-text"></i> +992917905525</a></p>
  <p><a href="https://wa.me/992917905525" target="_blank"><i class="fa-brands fa-whatsapp green-text"></i> +992917905525</a></p>
</section>
<footer class="content-footer">
  <p>Say hi to me on these social networks:</p>
  <ul class="social">
    <li><a href="#">Github </a></li>
    <li><a href="#">Twitter</a></li>
    <li><a href="#">Facebook</a></li>
  </ul>
  <p>Cover Image via <a href="http://www.unsplash.com">Unsplash</a></p>
</footer>
