:host {
  display: flex;
}

.description {
  color: white;
  font-size: 20px;
  letter-spacing: 1.2px;
}

::ng-deep .error .mdc-snackbar__surface {
  background-color: #f44336;
}

::ng-deep .success .mdc-snackbar__surface {
  background-color: #4caf50;
}

.fa-x {
  font-size: 24px;
  color: white;
}
