<h1 class="page-title">Admin Panel</h1>
<div class="title bold">
    Configs
</div>
<div *ngIf="serverConfig" class="configs section">
    <div class="configs-item">
        <div class="configs-title">Exam is <span class="bold">{{serverConfig.isExam ? 'ON' : 'OFF'}}</span></div>
        <mat-slide-toggle *ngIf="serverConfig" color="primary" [(ngModel)]="serverConfig.isExam"
                          (ngModelChange)="changeOptions()">
        </mat-slide-toggle>
    </div>
</div>
<div class="title bold">Upload Excel Files</div>
<div class="section">
    <form class="file-uploader" action="http://localhost:5000/upload/" [formGroup]="uploadForm" (ngSubmit)="onSubmit([dictionary, listening, grammar, writing])" method="POST"
          enctype="multipart/form-data">
        <div class="dictionary">
            <label for="dictionary">dictionary</label>
            <input id="dictionary" type="file" name="dictionary"
                   (change)="inputChange(dictionary)"
                   formControlName="dictionary"
                   #dictionary
                   accept=".xlsx, .xls, .csv">
        </div>
        <div class="listening">
            <label for="listening">listening</label>
            <input id="listening" type="file" name="listening"
                   (change)="inputChange(listening)"
                   formControlName="listening"
                   #listening
                   accept=".xlsx, .xls, .csv">
        </div>
        <div class="grammar">
            <label for="grammar">grammar</label>
            <input id="grammar" type="file" name="grammar"
                   (change)="inputChange(grammar)"
                   formControlName="grammar"
                   #grammar
                   accept=".xlsx, .xls, .csv">
        </div>
        <div class="writing">
            <label for="writing">writing</label>
            <input id="writing" type="file" name="writing"
                   (change)="inputChange(writing)"
                   formControlName="writing"
                   #writing
                   accept=".xlsx, .xls, .csv">
        </div>

        <div class="single">
            <button class="btn" type="submit" [class.touched]="!uploadForm.pristine">
                Upload Files
            </button>
        </div>
    </form>
</div>


<router-outlet></router-outlet>
